.navbar{
    display: flex;
    color: #fff;
    padding: 10px 0px;
    background: crimson;
    /* height: 50px; */
    justify-content: space-around;
}
.navbar input{
    height:33px;
    width: 500px;
    outline: none;
    border-radius: 5px;
    border: black 1px solid;
    padding-left: 5px;
}